/* General styles */
body {
  margin: 0;

  line-height: 1.6;
}

@font-face {
  font-family: Merriweather;
  src: url("font/Merriweather-Regular.eot");
}

@font-face {
  font-family: Work Sans;
  src: url("work-sans-cufonfonts-webfont/WorkSans-Regular.woff");
}

@font-face {
  font-family: Merriweather700;
  src: url("font/Merriweather-Regular.woff2");
}

.header {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 109px;
  height: 53px;
}

/* Main content styles */
main {
  padding: 40px 20px;
}

.terms-content {
  max-width: 1300px; /* Keep content width constrained */
  margin: 0; /* Remove automatic centering */
  padding-left: 100px; /* Add padding for a slight gap from the edge */
  text-align: left; /* Align content to the left */
}

.terms-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000; /* Ensure headings stand out */
  color: #000;

  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.terms-content p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.8;
  text-align: justify; /* Improve readability by justifying text */
  color: #717171;

  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  header {
    text-align: center; /* Keep the logo centered */
    padding: 10px 0;
  }

  main {
    padding: 0px 20px !important;
  }

  .logo {
    width: auto;
    height: 24px;
    margin-bottom: 10px !important;
  }

  .terms-content {
    margin-top: 0px !important;
    max-width: 100%; /* Take full width */
    padding: 0 12px; /* Add padding for mobile view */
  }

  .terms-content h1 {
    font-size: 20px; /* Adjust heading size for mobile */
    margin-bottom: 16px;
    color: #000;

    font-family: Merriweather;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .terms-content p {
    font-size: 14px; /* Adjust paragraph size for mobile */
    line-height: 24px; /* Match line height shown in screenshot */
    margin-bottom: 16px;
    color: #717171;

    font-family: "Work Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    text-transform: capitalize;
  }
}
